*{
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color:rgb(56, 7, 7);
    --sec-bg-color:rgb(26, 24, 24);
    --text-color:white;
    --main-color:rgb(91, 195, 255);
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    color:var(--text-color);
}
.wrapper{
    display:flex;
}
.wrapper .firstText{
    font-size:70px;
    color:white;
}
.wrapper .secText{
    height:90px;
    line-height: 90px;
    overflow:hidden;
}
.secText li{
    position:relative;
    top:0;
    font-size:60px;
    color:aquamarine;
    list-style: none;
    padding:0px 10px;
    text-shadow: 0 0 10px #0ef;
    animation:slide 12s steps(4) infinite, colorful, 6s infinite ;
}
@keyframes slide{
    100%{
        top:-360px;
    }
}
@keyframes colorful{
    100%{
        filter:hue-rotate(360deg);
    }
}
.secText li span{
    position:relative;
}
.secText li span::before{
    content: '';
    position: absolute;
    left:0;
    width:600px;
    height:90px;
    background:black;
    border-left: 2px solid #0ef;
    animation: typing 1.5s steps(18) infinite alternate;
}
@keyframes typing{
    100% {
        left: 100%;
        margin: 0 -35px 0 25px;
    }
}
html{
    font-size:62.5%;
    overflow-x:hidden;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:2rem 9%;
    background:rgb(0, 30, 44);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}
.logo{
    font-size:2.5rem;
    color:var(--text-color);
    font-weight: 600;
}
.navbar a{
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color:var(--main-color);
}
#menu-icon{
   font-size:3.6rem;
   cursor:pointer;
   display:none;
}
