body{
    background-color: aquamarine;
}
.navbar{
   background-color: black;
}
/* .container-fluid{
    background-color: rgb(85, 159, 189);
    
} */
.navbg{
    background-color: red;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
.pgtitle{
    background-color: rgba(174, 250, 255, 0.452);
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 0.3rem;
    border: 0.2rem solid rgb(152, 212, 199);
}